services:

  redis:
    image: redis:7-alpine
    container_name: redis_session_store
    expose:
      - "6379"
    restart: always
    
  backend:
    image: us-central1-docker.pkg.dev/project-cd53e609-dbd3-4daf-8e2/mlops-repo/backend:latest
    env_file:
      - .env
    container_name: face-backend
    depends_on:
      - redis
    expose:
      - "8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    image: us-central1-docker.pkg.dev/project-cd53e609-dbd3-4daf-8e2/mlops-repo/frontend:latest
    container_name: face-frontend
    expose:
      - "8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000
      - PYTHONUNBUFFERED=1
      - STREAMLIT_SERVER_ENABLE_CORS=false
      - STREAMLIT_SERVER_ENABLE_XSRF_PROTECTION=false

  nginx:
    image: nginx:alpine
    container_name: face-nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro