services:
  backend:
    build:
      context: .
      dockerfile: src/api/Dockerfile
    container_name: face-backend
    ports: 
      - "8000:8000"
    env_file:
      - .env.local
    environment:
      - PYTHONUNBUFFERED=1
    restart: always

  frontend:
    build:
      context: .
      dockerfile: src/ui/Dockerfile
    container_name: face-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000
      - PYTHONUNBUFFERED=1
      - STREAMLIT_SERVER_ENABLE_CORS=true
    restart: always