services:
  backend:
    image: gcr.io/project-cd53e609-dbd3-4daf-8e2/mlops-repo/backend:latest
    container_name: face-backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    image: gcr.io/project-cd53e609-dbd3-4daf-8e2/mlops-repo/frontend:latest
    container_name: face-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000
      - PYTHONUNBUFFERED=1